@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

/* Global */
.container {
  margin: 0 0 0 3rem;
}

.left-side {
  width: 100%;
  min-height: 100%;
  flex: 2;
  background-image: url("https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  background-position: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top {
  margin: 10rem 0 0 0;
  width: 100%;
  height: 8rem;
  background-color: #00000080;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  min-width: auto;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.odin-text {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 38px;
}

.credits {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.credits-link {
  text-decoration: underline;
}

.right-side {
  width: 100%;
  min-height: 100%;
  flex: 5;
  background-color: #eee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.general-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#text-1 {
  margin-bottom: 0;
}

#text-2 {
  margin-top: 0;
}

form {
  background-color: #f4f4f4;
  box-shadow: 5px 1px 5px 5px #a7a7a780;
  display: flex;
  flex-direction: column;
}

#form-header {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.forms {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

label {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 1rem;
}

input {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  height: 1.5rem;
  width: 12rem;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#create-account {
  border: none;
  border-radius: 10px;
  width: 12rem;
  height: 2.5rem;
  background-color: rgb(0, 70, 0);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

#create-account:hover {
  background-color: rgb(0, 51, 0);
  cursor: pointer;
}

#buttons-section-text {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

#buttons-section-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: green;
}

#buttons-section-link:hover {
  text-decoration: underline;
}

#passwords-do-not-match {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: red;
}
